// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    background-color: #EDEBEC;
}

.wrapper {
    margin: 10px auto;
    max-width: 1100px;
}

#main_menu {
    height: 100px;
}

#main_menu .main_logo {
    height: 80px;
}

.search_package_block,
.info_block {
    height: 57vh;
    margin-bottom: 25px;
    border-radius: 30px;
    background-color: #3490DC;
    padding: 30px;
}
.search_package_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search_package_block div{
    margin-bottom: 20px;
}
.search_package_block h2{
    color: white;
    font-weight: 500;
}
.search_package_block p{
    color: #002B80;
}
.search_package_input{
    margin-right: 5px;
}
.baner_text{
    font-size: 32px;
    color: white;
    text-align: center;
}
.info_block{
    position: relative;
}
.info_block:after{
    content: "";
    position: absolute;
    top: 115px;
    left: 60px;
    width:100%;
    height: 100%;
    background-image: url(/img/post.png);
    background-repeat: no-repeat;
}
.form_package_box{
    margin: 0 auto;
}
.sender_info_box{
    display: none;
}
.recipient_info_box{
    display: none;
}
.pay_sum_block{
    display: none;
}
#calculate_cost{
    margin-bottom: 15px;
}